{{ define "main" }}
<!-- Breadcrumb -->
{{ partial "breadcrumb.html" . }}

<!-- Main Content -->
<main id="main-content" class="mx-auto w-full max-w-app px-4 pb-4">
  <h1 class="text-2xl font-semibold sm:text-3xl">{{ .Title }}</h1>
  <p class="mt-2 mb-6 italic">All the articles I've archived.</p>

  {{ $posts := where .Site.RegularPages "Type" "post" }}
  {{ $posts = where $posts "Draft" false }}
  
  {{ if gt (len $posts) 0 }}
    <!-- Group by Year -->
    {{ range $posts.GroupByDate "2006" "desc" }}
      <div>
        <span class="text-2xl font-bold">{{ .Key }}</span>
        <sup class="text-sm">{{ len .Pages }}</sup>
        
        <!-- Group by Month -->
        {{ range .Pages.GroupByDate "January" "desc" }}
          <div class="flex flex-col sm:flex-row">
            <div class="mt-6 min-w-36 text-lg sm:my-6">
              <span class="font-bold">{{ .Key }}</span>
              <sup class="text-xs">{{ len .Pages }}</sup>
            </div>
            <ul>
              {{ range .Pages }}
                {{ partial "card.html" . }}
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
    {{ end }}
  {{ else }}
    <div class="py-12 text-center">
      <p class="text-muted text-lg">No articles found.</p>
    </div>
  {{ end }}
</main>
{{ end }}
