{{- /*
  Footer Component
  参考: astro-paper/src/components/Footer.astro
  
  完全对齐 AstroPaper 的页脚设计
*/ -}}

<footer class="w-full mt-auto">
  {{ partial "hr.html" (dict "noPadding" true) }}
  <div
    class="flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4"
  >
    {{- /* 社交链接（居中显示） */ -}}
    {{ partial "socials.html" (dict "Site" .Site "centered" true) }}
    
    {{- /* 版权信息 */ -}}
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span>{{ i18n "footer.copyright" | default "Copyright ©" }} {{ now.Year }}</span>
      <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
      <span>{{ i18n "footer.allRightsReserved" | default "All rights reserved." }}</span>
    </div>
  </div>
</footer>
